.HomePage {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  padding-bottom: 200px;
  position: relative;
}
/* ---------- Button ---------- */
.ButtonContainer {
  position: absolute;
  left: 15%;
  top: 55%;
  display: flex;
  align-items: center;
}

.HomePageButton {
  margin-left: 10%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: Arial;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding: 1.5em 3em;
  background: #77b0ea;
  border: 2px solid #1e6dbb;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.HomePageButton::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #1e6dbb, 0 0.625em 0 0 #cfe3f7;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.HomePageButton:hover {
  background: #2e86de;
  transform: translate(0, 0.25em);
}
.HomePageButton:hover::before {
  box-shadow: 0 0 0 2px #1e6dbb, 0 0.5em 0 0 #cfe3f7;
  transform: translate3d(0, 0.5em, -1em);
}
.HomePageButton:active {
  background: #2e86de;
  transform: translate(0em, 0.75em);
}
.HomePageButton:active::before {
  box-shadow: 0 0 0 2px #1e6dbb, 0 0 #cfe3f7;
  transform: translate3d(0, 0, -1em);
}

/* ---------- HOME PAGE TEXT ---------- */
.perspective_text {
  margin-bottom: 15%;
  color: white;
  font-family: Arial;
  font-size: 5.8rem;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.perspective_line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.p_elem {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective_line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective_line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective_text:hover .p_elem {
  transform: translate(0, -50px);
}

.hoverClass {
  transform: translate(0, -50px);
}

.perspective_line:nth-child(1) {
  left: 29px;
}

.perspective_line:nth-child(2) {
  left: 58px;
  background: #f07e6e;
}

.perspective_line:nth-child(3) {
  left: 87px;
  background: #84cdfa;
}

.perspective_line:nth-child(4) {
  left: 116px;
  background: #5ad1cd;
}

.perspective_line:nth-child(5) {
  left: 145px;
}

/* ---------- QUERIES ---------- */
@media (max-width: 1400px) {
  .ButtonContainer {
    left: 5%;
  }
}

@media (max-width: 1150px) {
  .ButtonContainer {
    left: 35%;
    right: 35%;
    top: 80%;
  }
}

@media (max-width: 830px) {
  .HomePageButton {
    padding: 1em 1.5em;
  }

  .perspective_text {
    font-size: 3.8rem;
    margin-right: 15%;
  }

  .perspective_line {
    height: 40px;
    overflow: hidden;
    position: relative;
  }

  .p_elem {
    margin: 0;
    height: 40px;
    line-height: 40px;
    transition: all 0.5s ease-in-out;
  }
  .perspective_text:hover .p_elem {
    transform: translate(0, -40px);
  }

  .perspective_text:hover .p_elem {
    transform: translate(0, -40px);
  }

  .hoverClass {
    transform: translate(0, -40px);
  }

  .perspective_line:nth-child(1) {
    left: 49px;
  }

  .perspective_line:nth-child(3) {
    left: 81px;
    background: #84cdfa;
  }

  .perspective_line:nth-child(4) {
    left: 104px;
    background: #5ad1cd;
  }

  .perspective_line:nth-child(5) {
    left: 125px;
  }
}

@media (max-width: 768px) {
  @keyframes anim {
    from {
      transform: translate(0, 0);
    }

    to {
      transform: translate(0, -40px);
    }
  }
  .p_elem {
    animation-duration: 1.8s;
    animation-name: anim;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .perspective_text:hover .p_elem {
    transform: translate(0, 0);
  }

  .hoverClass {
    transform: translate(0, 0);
  }
}

@media (max-width: 530px) {
  @keyframes anim {
    to {
      transform: translate(0, -28px);
    }
  }
  .perspective_text {
    font-size: 2rem;
    margin-right: 45%;
  }

  .perspective_line {
    height: 28px;
    overflow: hidden;
    position: relative;
  }

  .p_elem {
    margin: 0;
    height: 28px;
    line-height: 28px;
    transition: all 0.5s ease-in-out;
  }
  .perspective_text:hover .p_elem {
    transform: translate(0, -28px);
  }

  .perspective_text:hover .p_elem {
    transform: translate(0, -28px);
  }

  .hoverClass {
    transform: translate(0, -28px);
  }

  .perspective_line:nth-child(1) {
    left: 45px;
  }

  .perspective_line:nth-child(3) {
    left: 74px;
    background: #84cdfa;
  }

  .perspective_line:nth-child(4) {
    left: 89px;
    background: #5ad1cd;
  }

  .perspective_line:nth-child(5) {
    left: 100px;
  }
}
