.customerDataTitle {
  width: 100%;
  display: flex;
  justify-content: center;
}

.customerDataInputs {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px 0;
}

.customerDataForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.customerDataInputContainer {
  width: 70%;
  margin: 0 auto;
}

.customerDataSubmit {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .customerDataInputs {
    grid-template-columns: 100%;
  }
}
