.ProductContainer {
  width: 95%;
  height: 95%;
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: grid;
  grid-template-rows: 60% 7.5% 7.5% 25%;
  background-color: #fff;
}

.smallPhotoContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.ButtonsContainer {
  display: grid;
  grid-template-columns: 40% 60%;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductText {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 590px) {
  .ProductContainer {
    height: 90%;
    width: 90%;
  }
}
