.Cart {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 60px 0;
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: min-content;
}

.CartColumns {
  display: grid;
  grid-template-columns: 22.5% 22.5% 22.5% 22.5% 10%;
  grid-template-rows: auto;
}

.CartSubmit {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}

.CartTotalPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  font-size: 1.6rem;
}

.totalPrice {
  margin: 10px 0;
}

.totalPrice_2 {
  font-size: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}

.CartTitleContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 780px) {
  .CartTitleContainer p {
    font-size: 1.8rem !important;
    display: block;
    margin: auto auto;
    width: auto;
  }
  .CartTitleContainer p::after {
    width: 0;
  }
}
@media (max-width: 650px) {
  .CartColumns {
    width: 100%;
    margin: 0 auto;
  }
}
