.Cart {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 60px 0;
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: min-content;
}

.CartColumns {
  display: grid;
  grid-template-columns: 22.5% 22.5% 22.5% 22.5% 10%;
  grid-template-rows: auto;
}

.CartColumns div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CartSubmit {
  display: grid;
  grid-template-columns: 60% 40%;
}

.CartTotalPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
