.Offer {
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: min-content;
}

.OfferTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.offerProducerTitle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.7rem;
  color: #fff;
  font-weight: 600;
}

.OfferContent {
  width: 92%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 80%;
  padding: 30px 0;
}

.PictureContainer {
  height: auto;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/backgroundOffer.jpg");
  background-repeat: no;
  height: 300px;
  background-position: center;
}

.Products {
  width: 90%;
  margin: 2% auto;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 33.3% 33.3% 33.3%;
  animation-name: fadeInDown;
  animation-duration: 1s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1350px) {
  .OfferContent {
    width: 95%;
    grid-template-columns: 12% 88%;
  }
}
@media (max-width: 1200px) {
  .Products {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  .OfferContent {
    grid-template-columns: 18% 82%;
  }
}
@media (max-width: 790px) {
  .Products {
    width: 80%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .OfferContent {
    grid-template-columns: 30% 70%;
  }
}
@media (max-width: 590px) {
  .Products {
    width: 80%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .OfferContent {
    grid-template-columns: 100%;
    grid-template-rows: 10% auto;
    padding-bottom: 90px;
  }
}
