@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.Logo {
  font-family: "Lobster", cursive;
  font-size: 3.7rem;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
}
