@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.Logo {
  font-family: "Lobster", cursive;
  font-size: 3.7rem;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  cursor: pointer;
}
