.NavigationItem {
  box-sizing: border-box;
  display: block;
  width: auto;
  margin: 5px 30px;
  font-size: 1.6rem;
  position: relative;
}

.NavigationItem a {
  padding-bottom: 3px;
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
  background-image: linear-gradient(dodgerblue, dodgerblue);
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  background-size: 100% 2px, auto;
}
