.Button {
  padding: 0.8rem 2rem;
  background-color: #84cdfa;
  font-size: 1.8rem;
  border-radius: 1.5rem;
  color: #fff;
  font-weight: 600;
  transition: 0.2s ease-out all;
  cursor: pointer;
  border: 1px solid #43b2f7;
  transform: scale(1);
  outline: none;
}

.Button:hover,
.Button:active {
  background-color: #22a5f6;
  transform: scale(1.05);
}
