@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400&display=swap");

body {
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
  background: #f1f1f1;
  margin: 0;
}

#root {
  min-height: 100%;
  position: relative;
}

@media (max-width: 1023px) {
  html,
  body {
    font-size: 58%;
  }
}
@media (max-width: 450px) {
  html,
  body {
    font-size: 50%;
  }
}
@media (max-width: 375px) {
  html,
  body {
    font-size: 46%;
  }
}
